Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Nympy
3. Scikit

Data Science tools|
| Jypyter  |
| Google colab |

### Examples of Arithmetic Expressions

In this section, we will demonstrate some basic arithmetic operations in Python using Jupyter Notebook.

#### Basic Arithmetic Operations:
- Addition: `5 + 3 = 8`
- Subtraction: `10 - 7 = 3`
- Multiplication: `4 * 6 = 24`
- Division: `20 / 4 = 5`

#### Advanced Operations:
- Exponentiation: `2 ** 3 = 8`
- Modulus: `10 % 3 = 1`
- Integer Division: `15 // 4 = 3`

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
unordered list
1. Python
2. R
3. Julia

##Author##
vivek